language: node_js
node_js:
    - '11.10.1'
cache:
    directories:
        - node_modules
before_install:
    - npm update
install:
    - npm install
script:
    - npm test
    - npx react-selffocus-element || true
    - npm run coveralls
